# Node build artifacts
node_modules
client/node_modules
client/.eslintcache
npm-debug.log

# Local development
client/build
client/.eslintcache
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml